html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  background: linear-gradient(
    to top,
    rgb(208, 225, 225) 85%,
    rgb(254, 255, 255) 15%
  );
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: #ff7200;
  font-size: 50px;
  font-family: Verdana, sans-serif;
  padding-left: -4px;
  float: left;
  padding-top: 10px;
}

.menu {
  position: absolute;
  top: 85px;
  left: 920px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 30px;
  margin-top: -30px;
  font-size: 26px;
}

ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

ul li a:hover {
  color: #ff7200;
}

.button {
  display: inline-flex;
  height: 300px;
  width: 500px;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 350px;
  background: #ff7200;
  box-shadow: 0px 4px 5px rgb(101, 101, 101);
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 85px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20%;
  position: absolute;
  top: 200px;
  left: -220px;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.612);
  transition: 0.4s ease;
}

.button2 {
  display: inline-flex;
  height: 300px;
  width: 500px;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 400px;
  background: #ff7200;
  box-shadow: 0px 4px 5px rgb(101, 101, 101);
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 85px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20%;
  position: absolute;
  top: 200px;
  left: 430px;
}

.button2:hover {
  background-color: rgba(255, 255, 255, 0.787);
  transition: 0.4s ease;
}

.content {
  width: 900px;
  height: auto;
  margin: auto;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.button__test {
  position: absolute;
  font-family: Verdana, sans-serif;
  top: 100px;
  left: 40px;
}

.button__test2 {
  position: absolute;
  font-family: Verdana, sans-serif;
  top: 100px;
  left: 108px;
}
