html,
body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
    to top,
    rgb(208, 225, 225) 85%,
    rgb(254, 255, 255) 15%
  );
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: #ff7200;
  font-size: 50px;
  font-family: Verdana, sans-serif;
  padding-left: -4px;
  float: left;
  padding-top: 10px;
}

.menu {
  position: absolute;
  top: 85px;
  left: 920px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 30px;
  margin-top: -30px;
  font-size: 26px;
}

ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

ul li a:hover {
  color: #ff7200;
}

.message {
  white-space: nowrap;
  font-family: Verdana, sans-serif;
  font-size: 2em;
  position: relative;
  top: 180px;
  left: -300px;
}

.button {
  white-space: nowrap;
  padding-left: 3.4em;
  padding-right: 3.4em;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 25px;
  cursor: pointer;
  background-color: #ff7200;
  font-family: verdana, sans-serif;
  font-weight: bold;
  position: relative;
  top: 200px;
  left: 470px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.612);
  transition: 0.4s ease;
}
